@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: burlywood;
}

i#burguer {
    color: rgb(121, 43, 43);
    padding: 10px;
    cursor: pointer;
    position: fixed;
    font-size: 40px;
    top: 10px;
    right: 20px;
    z-index: 1000;
}

i#burguer:hover {
    color: rgba(121, 43, 43, 0.541);
}

menu {
    display: none;
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 999;
    background-color: rgba(255, 222, 173, 0.575);
    border-radius: 10px;
    padding: 10px;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    margin: 0 30px 0 0;
    text-decoration: none;
    color: rgb(126, 30, 30);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

menu > ul > li > a:hover {
    color: rgba(121, 43, 43, 0.5);
}

header {
    background-image: linear-gradient(
        to right,
        rgb(91, 45, 35),
        rgb(130, 60, 45),
        rgb(165, 85, 65),
        rgb(194, 120, 85)
    );

    line-height: 1.6;
    padding: 10px 0 20px;
}

h1 {
    font-family: 'Great Vibes', cursive;
    color: white;
    letter-spacing: 3px;
    text-shadow:
        1px 1px 0 black,
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black;

    margin-left: 35px;
    font-size: 50px;
}

h2 {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 3px;
    color: rgb(255, 174, 0);
    margin-left: 20px;
    font-size: 35px;
}

h3 {
    font-family: 'Dancing Script', cursive;
    margin: 25px 0 15px 15px;
    font-size: 35px;
    letter-spacing: 3px;
    color: rgb(102, 26, 26);
    text-align: center;
}

h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    letter-spacing: 2px;
    margin-left: 20px;
    color: rgb(129, 0, 0);
}

p {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-indent: 30px;
    line-height: 1.6;
    margin: 15px 20px;
}

span {
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    color: rgb(255, 174, 0);
}

.zion {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-indent: 30px;
    line-height: 1.6;
    margin: 15px 20px;
    font-size: 20px;
}

img {
    width: 400px;
    max-width: 90%;
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
    border: 1px solid rgb(102, 26, 26);
}

.escolher {
    background-color: rgb(204, 143, 114);
    color: white;
    font-weight: bold;
    padding: 25px 20px;
}

.categoria {
    margin-bottom: 30px;
}

.categoria h4 {
    color: rgb(102, 26, 26);
    margin-left: 10px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
}

.produto p {
    text-align: center;
    text-indent: 0;
    margin: 5px 0 15px;
    color: white;
}

.produto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.card {
    background-color: rgb(148, 114, 91);
    width: 300px;
    max-width: 90%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0 auto 30px;
}

.card .imagem {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.card p {
    color: white;
    text-indent: 0;
    margin: 15px 0 0;
}

.sobre-nos {
    background-color: rgba(91, 45, 35, 0.514);
    color: white;
    padding: 10px 0;
}

.sobre-nos p {
    margin-bottom: 20px;
}

table {
    width: 90%;
    font-size: 16px;
    margin: 10px auto;
    border-collapse: collapse;
    color: white;
}

th,
td {
    text-align: center;
    border: 1px solid rgb(102, 26, 26);
    padding: 10px;
}

th {
    background-color: rgb(102, 26, 26);
}

footer {
    text-align: center;

    background-image: linear-gradient(
        to right,
        rgb(91, 45, 35),
        rgb(130, 60, 45),
        rgb(165, 85, 65),
        rgb(194, 120, 85)
    );

    line-height: 1.6;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    padding: 20px;
}

footer i {
    display: block;
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    h1 {
        font-size: 65px;
    }

    h2 {
        font-size: 38px;
    }

    .produtos {
        grid-template-columns: repeat(2, 1fr);
    }

    .escolher {
        padding: 30px;
    }
}

@media screen and (min-width: 992px) {

    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 42px;
    }

    img {
        width: 690px;
    }

    .produtos {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        margin: auto;
    }

    .escolher {
        padding: 40px;
    }

    .categoria {
        max-width: 1200px;
        margin: 0 auto 40px;
    }

    .produto {
        background-color: rgb(148, 114, 91);
        padding: 25px;
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }
}

@media screen and (min-width: 1200px) {

    h1 {
        font-size: 90px;
    }

    img {
        width: 1000px;
    }

    .produtos {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1200px) {

    h1 {
        font-size: 90px;
    }

    img {
        width: 1000px;
    }

    .produtos {
        grid-template-columns: repeat(4, 1fr);
    }

        .produto {
            background-color: rgb(148, 114, 91);
            padding: 25px;
            border-radius: 15px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        }

    /*.produto {
        background-color: rgb(148, 114, 91);
        padding: 40px;
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }*/
}